<H1>Intro to Python</H1>

Here are some extra resources for learning Python:

**Getting Started with Python**:

* https://www.codecademy.com/learn/python
* http://docs.python-guide.org/en/latest/intro/learning/
* https://learnpythonthehardway.org/book/
* https://www.codementor.io/learn-python-online

**Learning Python in Notebooks**:

* http://mbakker7.github.io/exploratory_computing_with_python/

This is handy to always have available for reference:

**Python Reference**:

* https://docs.python.org/3.5/reference/

There are also Python courses in the MDST datacamp!

## 0. Jupyter Notebook

Welcome to Jupyter Notebook! Jupyter lets you develop documents that contain live code, equations, visualizations and narrative text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine learning, and much more.

All our cells so far are _markdown_ cells, meaning they just contain text! You can enter edit mode on them by pressing ENTER

In [1]:
# Jupyter also has code cells, like this one! You can write and run a single line of code or more
# In python, the '#' symbol creates a comment line
# To run a cell, press CTRL-ENTER or SHIFT-ENTER (also moves down to the next cell)

In [2]:
# Below, we define the variable a to be the number 1
a = 1

Now, the variable we defined is accessible from any other code cell

In [3]:
a

1

Some basics:

In [4]:
print('Hello World!')

Hello World!

In [5]:
# The notebook will execute every line in a cell, but will only print the last line
a
a + 1

2

In [6]:
# You can get around this by calling print explicitly
print(a)
print(a + 1)

1
2

## 1. Data Types

### 1.1 Numbers

this is an integer

In [7]:
1

1

In [8]:
type(0)

int

so is this

In [9]:
-3

-3

this is a float

In [10]:
2.0

2.0

In [11]:
type(0.0)

float

you can do math with them

In [12]:
3 + 2

5

In [13]:
1.1 - 9.0

-7.9

In [14]:
1 * 5

5

In [16]:
# float division
1 / 2

0.5

In [17]:
# integer division
13 // 5

2

In [18]:
# modulus (remainder)
13 % 5

3

In [19]:
# exponent
4 ** 2

16

they are mostly interchangeable

In [20]:
3 * 3.0

9.0

In [21]:
9.8 // 2

4.0

but can also be cast (i.e. converted) to the other type

In [22]:
float(3)

3.0

In [23]:
int(2.9)

2

### 1.2 Strings

this is a string

In [24]:
s = "apple"
s

'apple'

so is this

In [25]:
'apple'

'apple'

### 1.3 Boolean Values

In [26]:
True

True

In [27]:
False

False

### 1.4 Data Structures

#### 1.4.1 Lists

this is a list

In [28]:
l = [42, 7, 13, 24601, 2001, 3.50]

In [29]:
r = [32, 'wse', True]

#### _a sidenote on indexing_

python uses 0-indexing

In [30]:
l[0]

42

negative numbers index from the end

In [31]:
l[-1]

3.5

you can index lists to get individual items

In [32]:
l[3]

24601

and strings to get individual characters (substring of length 1)

In [33]:
'string'[3]

'i'

you can use indexing to get subarrays/substrings

syntax: [start:end:step]

the subarray will include the start index but not the end

In [34]:
# the second and third elements
print(l[1:3])
print([l[1],l[2]])

[7, 13]
[7, 13]

In [35]:
# the last 8 characters
'this is a sentence'[-8:]

'sentence'

In [36]:
# every other element
l[::2]

[42, 13, 2001]

#### back to lists

elements can be added

In [37]:
l.append(7)
l

[42, 7, 13, 24601, 2001, 3.5, 7]

removed (the first occurence)

In [38]:
l.remove(7)
l

[42, 13, 24601, 2001, 3.5, 7]

and modified

In [39]:
l[0] = 100
l

[100, 13, 24601, 2001, 3.5, 7]

you can make lists like this:

In [40]:
list1 = list()
list1

[]

In [41]:
list2 = []
list2

[]

In [42]:
list3 = [10,30,20]
list3

[10, 30, 20]

In [43]:
# l4 uses the range function which generates a sequence of numbers
list4 = list(range(3))
list4

[0, 1, 2]

In [44]:
# l5 uses list comprehension -- it's like an easy for loop
list5 = [i*2 for i in list4]
list5

[0, 2, 4]

##### 1.4.2 tuples

this is a python tuple

In [45]:
t = (1, 2, 3)
t

(1, 2, 3)

you can index them like lists

In [46]:
t[0]

1

but CAN'T modify them (they are immutable)

In [47]:
t[2] = 10

TypeError: 'tuple' object does not support item assignment

In [48]:
t.append(10)

AttributeError: 'tuple' object has no attribute 'append'

in most cases lists are more useful, but the immutable property of tuples means they can be used as dictionary keys, in sets, etc.

##### 1.4.3 dictionaries

dictionaries store (key: value) pairs

In [49]:
d = {"apple": "a fruit", "basil": "an herb", "monkey": "a mammal"}
d

{'apple': 'a fruit', 'basil': 'an herb', 'monkey': 'a mammal'}

In [50]:
d.keys()

dict_keys(['apple', 'basil', 'monkey'])

In [51]:
d.values()

dict_values(['a fruit', 'an herb', 'a mammal'])

they are indexed with their keys and return the corresponding values

In [52]:
d['basil']

'an herb'

##### 1.4.4 sets

sets store unique elements

In [53]:
s = set([1,2,3,1,2,3])
s

{1, 2, 3}

In [54]:
s.add(3)
s

{1, 2, 3}

In [55]:
s.add(12)
s

{1, 2, 3, 12}

In [56]:
s.update([3,4,5])
s

{1, 2, 3, 4, 5, 12}

## 2. Statements and loops

### 2.1 If statements

conditional statements to handle different cases

In [57]:
if True:
    print('true')

true

In [58]:
if 1 == 3:
    print('1')
elif 2 == 3:
    print('2')
elif 3 == 3:
    print('3')
else:
    print('4')

3

### 2.2 For loops

iterate through a group of items

In [59]:
for i in range(3):
    print(i)

0
1
2

In [60]:
# enumerate generates a sequence of index, value pairs
for i,x in enumerate(['a','b','c']):
    print(i,':',x)

0 : a
1 : b
2 : c

### 2.3 While loops

continually iterate until a condition is met

In [64]:
i = 0
while i < 3:
    print(i)
    i+=1
print('after loop ends: i =',i)

0
1
2
after loop ends: i = 3

## 3. Functions

### 3.1 Built-in functions

In [65]:
abs(-3)

3

In [66]:
all([True, True, False])

False

In [67]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_19',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_3',
 '_30',
 '_31',
 '_32',
 '_33',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_49',
 '_5',
 '_50',
 '_51',
 '_52',
 '_53',
 '_54',
 '_55',
 '_56',
 '_65',
 '_66',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'd',
 'e',
 'exit',
 'get_ipython',
 'i',
 'l',
 'list1',
 'list2',
 'list3',
 'list4',
 'list5',
 'quit',
 'r',
 's',
 't',
 'x']

In [68]:
eval('1+3')

4

In [69]:
isinstance('a',str)

True

In [70]:
len([1,2,3])

3

In [71]:
max([3,4,5])

5

In [72]:
min([-3,3,9])

-3

In [73]:
pow(3,3)

27

In [74]:
list(reversed([1,2,3]))

[3, 2, 1]

In [75]:
round(3.8)

4

In [76]:
round(3.3)

3

In [77]:
list(sorted([4,2,6]))

[2, 4, 6]

In [78]:
sum([1,3,5])

9

In [79]:
type(3.3)

float

### 3.2 Custom functions

# Custom functions 

Use them to minimize duplicate or long sections of code

In [91]:
def foo(arg1, arg2=2):
    if arg2//2==0:
        print(arg1)

### 3.3 Libraries

Python has a ton of existing libraries that implement code for you! All you have to do it import them

In [93]:
import antigravity

In [94]:
import time
time.time()

1600531507.268821

In [95]:
import os
os.getcwd()

'/mnt/c/Users/rrli4/Desktop/mdst/tutorials/intro-tutorials/tutorial1'

Next time we'll take a closer look at a few libraries commonly used in data science: NumPy, Pandas, and Matplotlib